table, th, td {
  border: 2px solid rgb(0, 0, 100);
  text-align: center;
  width: 100%;
}

table{
  table-layout: fixed;
}

h2, h3, h5, p, table, th, td, li, ul {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {background-color: coral;}

ul {
  list-style-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/Snow_flake.svg/115px-Snow_flake.svg.png')
} 

/* A - Create three unequal columns that float next to each other */
.column {
    float: left;
    padding: 10px;
}

/* Left and right column */
.column.side {
    width: 25%;
}

/* Middle column */
.column.middle {
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
